<!DOCTYPE html>
<html>
  <head>
    <title>Roman Numerals Kata</title>
  </head>
  <body>
    <h2>Arabic: <%= @arabic %> </h2>
    <h2>Roman: <%= @roman %></h2>
    <form action="/" method="get">
      <input type="submit" value="Again?">
    </form>
  </body>
</html>
