<!DOCTYPE html>
<html>
  <head>
    <title>Roman Numerals Kata</title>
  </head>
  <body>
    <form action="/convert" method="post">
      Arabic Number to Convert:<br>
      <input type="text" name="arabic"><br>
      <input type="submit" value="Convert To Roman">
    </form>
  </body>
</html>
